

/* Custom bootstrap */
.navbar .navbar-brand .brand-logo{
    height: 20px;
    width: 60px;
}
/* End Custom bootstrap */


/*** Favorite Bar ***/
.s-favorite-bar .favorite-bar-warpper {
    background-color: #fff;
    border: 1px solid #e4e7ed;
    border-right: none;
    border-left: none;
    display: block;
    height: 50px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.s-favorite-bar .bar-container {
    color: #fff;
    height: 100%;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: space-between;    
}

.s-favorite-bar .scroll-bar {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 0;
}

.s-favorite-bar .item {
    padding: 0 18px 0 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
}

.s-favorite-bar .condition {
    /* display: inline-block; */
    width: 8px;
    height: 8px;
    margin: 0 10px;
    border-radius: 50%;
    white-space: nowrap;
    box-sizing: border-box;
}

.s-favorite-bar .condition-poor {
    background-color: #ff9500;;
}

.s-favorite-bar .location {
    font-size: 17px;
    padding: 0 10px;
}

.s-favorite-bar .feet {
    display: flex;
    align-items: center;
}

.s-favorite-bar .feet-height {
    font-size: 20px;
    padding: 0 8px;
}

.s-favorite-bar .bar-arrow {
    display: flex;
    flex-direction: row;
}

.s-favorite-bar .left-arrow,
.s-favorite-bar .right-arrow {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

/* Hide the scrollbar by default */
.s-favorite-bar .scroll-bar::-webkit-scrollbar {
    display: none;
}


/*** Hero Section ***/
.s-hero .information {
    display: flex;
    flex-direction: row;
}

.s-hero .information .condition {
    width: 8px;
    border-radius: 99px;
    margin: auto 10px auto 0;
    height: 100px;

    /* background-color: #0BD674; */
    position: relative;
}

.s-hero .information .condition::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #0bd674;
    
}

.s-hero .btn-nearby {
    border: 2px solid #333; /* Border style and color */
    border-radius: 5px;     /* Border corner radius */
    padding: 10px 20px;    /* Adjust padding as needed */
}

.s-hero .dropdown-toggle::after,
.s-hero .dropdown-toggle.show::after {
    transition: transform 0.3s;
}

.s-hero .dropdown-toggle.show::after {
    transform: rotate(180deg);
}


/*** Tab Bar ***/
.s-tabbar .tab-bar {
    display: flex;
    background-color: #f0f0f0;
}

.s-tabbar .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.s-tabbar .tab-item.active {
    /* background-color: #000;
    color: #fff; */
    border-bottom: 5px solid #333;
}

/* Custom bootstrap */
.s-tabbar .tab-item a {
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Inherit the parent's text color */
    /* Add other custom styles as needed */
}
/* End Custom bootstrap */

.s-tabbar .tab-content {
    /* display: none; */
}

.s-tabbar .tab-panel {
    display: none;
}

.s-tabbar .tab-panel.active {
    display: block;
}



/*** Grid Box ***/
/* .s-gridbox .card-1 .information {
    display: flex;
    flex-direction: row;
} */

.s-gridbox .card-1 .condition {
    width: 6px;
    /* border-radius: 99px; */
    margin: auto 10px auto 0;
    height: 40px;

    /* background-color: #0BD674; */
    position: relative;
}

.s-gridbox .card-1 .condition::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 99px;

    background-color: #0bd674;
    
}

.s-gridbox .card-1 .main-wave {
    font-size: 12px;
}

/* Custom bootstrap */
.s-gridbox .card-1 .main-wave .row > * {
    /* padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5); */
    padding: 0;
}
/* End Custom bootstrap */
